a{
    text-decoration: none;
    border-radius: 29px;
    padding: 16px 40px;
    color: #fff;
    height: 56px;
    text-align: center;
    
}
.download{
    width: 193px;
    margin-bottom: 16px;
}
.info{
    width: 161px;
}
.purple{
    background-color: var(--purple-600);
}
.purple:hover{
    background-color: #B18BDD;
}
.txt-purple{
    color: var(--purple-300)
}
.cyan600{
    background-color: var(--cyan-600);
}
.cyan600:hover{
    background-color: #71C0D4;
    }
.txt-cyan300{
    color: var(--cyan-300)
}
.barre{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.longue{
    height: 108px;
}
.left, .decoration > p{
    border: 1px solid var(--slate-300);
}
.decoration > p{
    height: 56px;
    width: 56px;
    border-radius: 999px;
    align-content: center;
    margin: 0 auto;
    color: var(--slate-600);
}
.decoration2{
    border: 1px solid var(--slate-300);
    height: 56px;
    width: 56px;
    border-radius: 999px;
    align-content: center;
    color: var(--slate-600);
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
    top: -25px;
    left: 50%;
    background-color: #fff;
}