@import 'reset.css' layer(reset);
@import 'variable.css' layer(variable);
@import 'typo.css' layer(typo);
@import 'component.css' layer(component);
@layer reset, variable, typo, component; 

*{
    text-align: center;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 118px;
    height: 28px;
    margin-top: 48px;
}
header > img{
    display: none;
}
.presentation{
    margin: var(--spacing-64) -40px 0 -30px;
}
header{
    margin: var(--spacing-64) var(--spacing-32) var(--spacing-32) var(--spacing-32);
}
main{
    margin: var(--spacing-32) var(--spacing-32) var(--spacing-64) var(--spacing-32);
}
.hello{
    margin-top: 48px;
}
.text > h1,
.text > p,
footer > h2,
.conclusion{
    margin-bottom: var(--spacing-24);
}
.pictures{
    margin: 64px auto;
    display: grid;
    grid-template-areas: 
    "lt rt"
    "lb rb";
    gap: 16px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pictures > img{
    border-radius: 15px;
}
.videocall{
    grid-area: lt;
}
.videochat{
    grid-area: rt;
}
.meeting{
    grid-area: lb;
}
.texting{
    grid-area: rb;
}
.cyan{
    color: var(--cyan-600);
    text-transform: uppercase;
    margin-bottom: 16px;
}
.slate600{
    color: var(--slate-600);
}
.slate900{
    color: var(--slate-900);
}
.mb{
    margin-bottom: 32px;
}
footer{
    position: relative;
    z-index: 1;
    padding: 64px 32px;
    width: 100%;
    background-image: url("/assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 0 200px rgba(77, 150, 169,0.8) inset;
    height: 374px;
}
.white{
    color: #fff;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px){
    .presentation{
        width: 100%;
        margin: var(--spacing-64) -40px 0 -30px;
    }
    .presentation > img{
        width: 100%;
    }
    .hello{
        width: 448px;
    }
    .button{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        gap: 17px;
    }
    .pictures{
        gap: 24px;
        grid-template-areas: 
        "lt rt lb rb";
    }
    .contenu{
        margin: 0 auto;
        width: 504px;
    }
    footer{
        background-image: url("/assets/tablet/image-footer.jpg");
    }
}
@media screen and (min-width: 1024px ){
    .mobil{
        display: none;
    }
    header > img{
        display: block;
    }
    header{
    display: grid;
    grid-template-areas: "left middle right";
    gap: 32px;
    }
    .hello{
        grid-area: middle;
    }
    .image-hero-left{
        grid-area: left;
    }
    .image-hero-right{
        grid-area: right;
    }
    .pictures{
        max-width: 1120px;
    }
    footer{
        background-image: url("/assets/desktop/image-footer.jpg");
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding: 0 80px;
    }
    footer > h2{
        width: 422px;
        text-align: left;
    }
    .conclusion{
        width: 355px;
        text-align: left;
        margin-left: 20px;
    }
    .contenu{
    width: 544px;
    }
}